@import "../../styles/mixins.scss";

.achievement {
  height: 100%;
  h4 {
    padding-bottom: 5px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    color: rgba(#fafafa, .9);
    padding-bottom: 10px;
  }
  .panel {
    box-shadow: -10px 10px 80px rgba(#000,.3);
    border-radius: 8px;
    width: 100%;
    min-height: 100px;
    height: 89.5%;
    .image {
      border-radius: 8px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 580px;
      padding: 0px;
      border: 0px;
      @include tablet {
        height: 300px;
      }
      @include mobile {
        height: 200px;
      }
    }
  }
}
