.skill {
  height: 73%;
  h4 {
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    color: rgba(#fafafa, .9);
    margin-bottom: 10px;
  }
  .panel {
    box-shadow: -10px 10px 80px rgba(#000,.3);
    background-color: #FAFAFA;
    border-radius: 8px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    ul {
      overflow-x: hidden;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        display: flex;
        align-items: center;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 5px;
        padding-bottom: 5px;
        .image {
          height: 20px;
          width: 20px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          img {
            height: inherit;
            width: auto;
          }
        }
        p {
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 5px;
          color: #2196F3;
          font-size: 16px;
        }
      }
    }
  }
}
